#mainbody{
  padding: 7px;
  background-color: black;
  border: 7px rgb(58, 54, 54) solid;
  margin: 0px;
}
input,fieldset{
  background-color:burlywood;
  border-radius: 3px;
  border-color: black;
  border-style: solid;
}
.table1{
  width: 1200px;
  margin-left: 140px;
  border-collapse: separate;
  border-spacing: 20px;
}
#searchbox{
  margin-left: 1050px;
}
.a{
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 15px;
  color: whitesmoke;
}
.a:hover{
  background-color:rgb(130, 126, 126);
}
.td{
  border-radius: 7px;
  border-color:bisque;
  border-style: solid;
  padding: 7px;
}
#tdbgcolor{
  background-color:rgb(31, 26, 26);
  border: 2px white solid;
  text-decoration: none;
}
#tdbgcolor1{
  border: 2px white solid;
  text-decoration: none;
  padding: 10px;
}
#tdbgcolor1:hover{
  background-color: rgb(118, 109, 109);
}
h1{
  font-family:Arial, Helvetica, sans-serif;
}
.button{
  font-family:'Times New Roman', Times, serif;
  border-radius: 7px;
  border-color: black;
  border-style: solid;
  background-color:burlywood;
  

}
.value1{
  font-family:Arial, Helvetica, sans-serif;
  /* margin-left: 1170px; */
  display: flex;
  justify-content: right;
  color:thistle;
  margin-right: 15px;
}
.value7{
  font-family:Arial, Helvetica, sans-serif;
  /* margin-left: 1270px; */
  display: flex;
  justify-content: right;
  margin-right: 15px;
}
.value2{
  font-family:cursive;
 color: darkgoldenrod;
 text-decoration: none;
}
.value3{
  background-color:rgb(225, 230, 133);
}
/* .value4{
  text-align: end;
} */

.value5{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 15px;
  color: whitesmoke;
  font-size:larger;
}
.value6{
  background-image: url(./pictures/design10.jpeg);
}
.menuicon{
  text-decoration: none;
  display: flex;
  justify-content:right;
}
#div1{
  background-color: rgb(137, 139, 133);
  padding: 15px;
}
#div2{
  margin-top: 7px;
  background-image: url(./pictures/div2pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
}
.div1margin{
  margin-left: 15px;
  font-weight: 700;
}
#margin2{
  margin-top: 90px;
}
#div3{
  margin-top: 7px;
  background-image: url(./pictures/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
}
#div4{
  margin-top: 7px;
  background-image: url(./pictures/feedback\ pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
}
#fieldset{
  background-color: transparent;
  color: white;
  border: 1px white solid;
  font-weight: 600;
}
#div5{
  margin-top: 7px;
  background-image: url(./pictures/footerbg.jpg);
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
}
.socialmedia{
  margin-right: 10px;
}
.footer1{
  position: absolute;
  top: 3010px;
  left: 30px;
  color: whitesmoke;
  font-weight:100;
}
.footer2{
  position: absolute;
  top: 3010px;
  left: 1110px;
  color: whitesmoke;
}
#div5>i{
  margin-left: 15px;
}
#div6{
  margin-left: 15px;
  margin-top: 30px;
}
#footcnt{
  margin-left: 15px;
  margin-top: 70px;
}
/* settings */
#body2{
  margin-top: 200px;
  background-image: url(./pictures/body2\ bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
}
#btn{
  margin-top: 180px;
  margin-left: 15px;
}
/* about */
#body3{
  background-image: url(./pictures/body2\ bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
}
#archlogo{
  margin-top: 15px;
  margin-left: 15px;
}
#archhd{
  color: whitesmoke;
  margin-top: 15px;
}
#abtbtn{
  margin-top: 480px;
  margin-left: 15px;
}
/* customers */
#body4{
  background-image: url(./pictures/body2\ bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
}
#cusbtn{
  margin-left: 15px;
}
/* contact */
#body5{
  background-image: url(./pictures/body2\ bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
}
#cntbtn{
  margin-top: 470px;
  margin-left: 15px;
}
/* components */
#components{
  padding: 7px;
  background-color: black;
  border: 7px rgb(58, 54, 54) solid;
  margin: 0px;
}
#windows{
  margin-top: 7px;
  background-image: url(./pictures/windows.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
  height: 570px;
}
#landscape{
  margin-top: 7px;
  background-image: url(./pictures/landscape.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
  height: 570px;
}
#lightings{
  margin-top: 7px;
  background-image: url(./pictures/lightings.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
  height: 570px;
}
#door{
  margin-top: 7px;
  background-image: url(./pictures/door.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
  height: 570px;
}
#porch{
  margin-top: 7px;
  background-image: url(./pictures/porch.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
  height: 570px;
}
.windowtxt{
  color: whitesmoke;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 18px;
  margin-top: 120px;
  line-height: 25px;
  font-size:medium;
  font-weight: 500;
}
.landscapetxt{
  color: whitesmoke;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 18px;
  margin-top: 120px;
  line-height: 25px;
  font-size:medium;
  font-weight: 500;
}
.lightingstxt{
  color: whitesmoke;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 18px;
  margin-top: 120px;
  line-height: 25px;
  font-size:medium;
  font-weight: 500;
}
.doortxt{
  color: whitesmoke;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 18px;
  margin-top: 120px;
  line-height: 25px;
  font-size:medium;
  font-weight: 500;
}
.porchtxt{
  color: whitesmoke;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 18px;
  margin-top: 120px;
  line-height: 25px;
  font-size:medium;
  font-weight: 500;
}
#windowpic{
  border: 3px whitesmoke solid;
  border-radius: 7px;
  position: absolute;
  left:900px;
  bottom: 250px;
}
#landscapepic{
  border: 3px whitesmoke solid;
  border-radius: 7px;
  position: absolute;
  left: 900px;
  top: 700px;
}
#lightingspic{
  border: 3px whitesmoke solid;
  border-radius: 7px;
  position: absolute;
  left: 900px;
  top: 1250px;
}
#doorpic{
  border: 3px whitesmoke solid;
  border-radius: 7px;
  position: absolute;
  left: 900px;
  top: 1850px;
}
#porchpic{
  border: 3px whitesmoke solid;
  border-radius: 7px;
  position: absolute;
  left: 900px;
  top: 2450px;
}